body{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
   font-family: 'Times New Roman', Times, serif;
    margin: 0;
    height: 100vh;
}
.content{
    padding: 20px;
    background-color: orange;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button{
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: blue;
    display: inline-block;
    padding: 20px;
    transition: background-color 0.3s;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.button:hover{
    background-color: aqua;
}

h1{
    text-align: center;
}
.options{
    margin-bottom: 20px;
}
.option{
    margin-bottom: 10px;
    display: block;
}
.question{
    margin-bottom: 10px;
    font-weight: bold;
}
.hide{
    display: none;
}
.result,.timer{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}